.blog-post-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
}

/* remove list styles */
.blog-post-list__list,
.blog-tag-list--inline .blog-tag-list__list {
    list-style: none;
    padding: 0;
}

.blog-post-teaser {
    padding: 24px 32px;
    margin-bottom: 24px;
    background: #fff;
    box-shadow: 0 20px 40px 0 rgb(0 0 0 / 10%);
    text-decoration: none;
    border-radius: 10px;
    transition: .3s box-shadow ease-in-out;
    display: flex;
    flex-direction: column;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.blog-post-teaser:hover {
    box-shadow: 0 20px 40px 0 rgb(0 0 0 / 20%);
}


.blog-post-list-pagination__item {
    display: inline-block;
}

.blog-post-list-pagination__item a {
     display: inline-block;
     padding: 0.25rem;
 }

.blog-post-list-pagination__item--is-current a {
    text-decoration: none;
    pointer-events: none;
}


.blog-tag-list--inline .blog-tag-list__list,
.blog-tag-list--inline .blog-tag-list__item {
    display: inline;
}

.blog-tag-list--inline .blog-tag-list__item:after {
    content: ', ';
}
.blog-tag-list--inline .blog-tag-list__item:last-child:after {
    content: none;
}

.blog-post-header img,
.blog-post-teaser img {
    width: 100%;
    height: auto;
}

